.calculator {
    width: 300px;
}

.display {
    height: 50px;
    background-color: black;
    color:lightgray;
    font-weight: bold;
    font-size: 45px;
    padding-left: 10px;
}

.buttons-row {
    height: 75px;
    display: flex;
}

.buttons-row button {
    width: 75px;
    flex-grow: 1;
    font-size: 25px;
}

.operand {
    background-color: rgba(29, 223, 29, 0.408);
}

.equals {
    background-color: lightyellow;
}

.operator {
    background-color: lightsteelblue;
}

.clear {
    background-color: rgb(253, 58, 58);
}